@media print {
  div.carousel {
    flex-flow: row wrap !important;
    overflow: hidden !important;
    max-width: 100% !important;
    max-height: unset !important;
    & > * {
      break-inside: avoid;
    }
  }
}

:root {
  --carousel-margin: 1em;
}

div {
  $carousel-targets:
    "trigger" "transform" -10%,
    ;
  @each $suffix, $target, $amount, $bounce in $carousel-targets {
    @keyframes carousel-peek-#{$suffix} {
      0% {
        #{$target}: translateX(0);
        margin-left: var(--carousel-margin);
        margin-right: var(--carousel-margin);
      }
      50% {
        #{$target}: translateX(#{$amount});
        margin-left: 2px;
        margin-right: 2px;
      }
      100% {
        #{$target}: translateX(0);
        margin-left: var(--carousel-margin);
        margin-right: var(--carousel-margin);
      }
    }
  }
  &.carousel {
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    scroll-snap-align: center;
    align-items: center;
    display: block flex;
    flex-flow: row nowrap;
    max-height: calc(100vh - 1em);
    box-sizing: content-box;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
    &:has(:not(:first-child)) {
      @media (prefers-reduced-motion: no-preference) and (not (pointer: fine)) {
        @supports (timeline-trigger-source: view()) {
          timeline-trigger: --carousel-trigger view() cover 10% cover 90%;
          timeline-trigger-source: view();
          > * {
            animation-trigger: --carousel-trigger play-once;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-name: carousel-peek-trigger;
            animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
          }
        }
      }
      @mixin no-animation-attrs {
        // Make it so that the carousel reveals itself without animation when on the first entry
        > * {
          max-width: calc(100vw - 2 * var(--main-padding) - var(--carousel-margin)) !important;
          &:first-child {
            margin-left: 0em;
            margin-right: 0em;
          }
        }
      }
      @media (not (prefers-reduced-motion: no-preference)) and (not (pointer: fine)) {
        @include no-animation-attrs
      }
      @supports (not (timeline-trigger-source: view())) {
        @include no-animation-attrs
      }
    }
    > * {
      scroll-snap-align: center;
      margin: var(--carousel-margin) calc(var(--carousel-margin) / 2);
      &:first-child {
        margin-left: var(--carousel-margin);
      }
      &:last-child {
        margin-right: var(--carousel-margin);
      }
      flex: none;
      box-sizing: content-box;
    }
  }
  &.carousel-or-grid {
    @extend .carousel;
    @media (pointer:fine) {
      overflow: unset;
      flex-flow: row wrap;
      max-height: unset;
      @supports (flex-wrap: balance) {
        flex-wrap: balance
      }
    }
  }
}
