@use 'root.scss';
@use 'nav.scss';
@use 'lcars.scss';
@use 'sass:color';

@mixin no-mask-support {
  @supports not (offset-path: shape(from 0 0, move to 0 0)) {
    @content
  }
}

$burger-background: lcars.$african-violet;

:root {
  --menu-margin: 3px;
  --open-burger-leak-down: 1cm;
  --open-burger-leak-right: 5cm;
  --top-left-rounding: 1cm;
  --burger-background: #{$burger-background};
  --space-main-background: light-dark(#ffffff, #000000);
  --space-body-background: light-dark(#000000, #222222);
  @media print {
    --space-main-background: #fff;
    --space-body-background: #fff;
  }
  @include no-mask-support {
    --open-burger-leak-down: 0cm;
  }
  @include nav.in-clogs() {
    --menu-background: none;
    --body-background: var(--space-body-background);
    --main-background: var(--space-main-background);
  }
  &:has(body > main > ul#blog-entries) {
    --space-max-width: 80ch;
  }
}

body > main:has(> ul#blog-entries) {
  & > h1:first-of-type > span {
    opacity: 0.5;
  }
}

ul#blog-entries {
  padding-left: 0;
  padding-bottom: 1lh;
  > li {
    &:not(:first-of-type) {
      border-top: 1px solid var(--faded-font-color);
      margin-top: 0.5em;
      padding-top: 0.5em;
    }
    > article {
      > p {
        font-style: italic;
        margin: 0.5ch 1em 1ch 1em;
      }
      > time {
        margin-left: 1em;
        opacity: 50%;
        &:empty::after {
          content: attr(datetime);
        }
      }
    }
    &[pinned] > article > a::before {
      content: "\1F4CC";
      display: inline;
    }
    a {
      text-decoration: none;
    }
    &, & li {
      list-style-type: none;
      ul.tags {
        li {
          display: inline;
          margin-left: 1ex;
          a {
            color: light-dark(#555, #bbb);
            &::before {
              content: '#';
            }
            &::after {
              content: none;
            }
          }
        }
      }
    }
  }
}

:root {
  @include nav.in-clogs() {
    @media screen {
      --main-width: var(--space-width);
      --main-background: var(--space-main-background);
      --menu-cols: var(--lcar-menu-cols);
      --menu-rows: var(--lcar-menu-rows);
      --menu-link-transform: uppercase;
    }
  }
}

@mixin lcar-close-button {
  content: 'Close';
  direction: rtl;
  color: #000;
  position: absolute;
  bottom: var(--menu-margin);
  width: calc(var(--menu-width) - var(--menu-margin) * 2);
  margin-top: calc(((var(--hamburger-size) + var(--open-burger-leak-down)) - 1em) / 2);
  display: inline-block;
  text-transform: var(--menu-link-transform);
}

@include nav.in-clogs() {
  main {
    .article-info {
      font-size: 60%;
      time {
        white-space: nowrap;
        margin-left: 1ex;
      }
      &:has(> time.update) {
        & > time.publish {
          text-decoration: line-through;
          opacity: 0.5;
        }
      }
    }
    > div.pagination {
      margin: 0 auto;
      text-align: center;
      &.single-page {
        display: none;
      }
      &:not(.has-previous-page) > .previous-page {
        visibility: hidden;
      }
      &:not(.has-next-page) > .next-page {
        visibility: hidden;
      }
      > a {
        display: inline-block;
        margin: 0.5ex 1ex;
        text-decoration: none;
        color: var(--font-color);
        &[aria-current] {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
  }
  @media screen {
    main {
      border-radius: var(--top-left-rounding) var(--top-left-rounding) 0 0;
      padding: 1em;
      z-index: 5;
    }
    nav#navigation {
      background: none;

      @include nav.closed() {
        pointer-events: none;
        #hamburger {
          pointer-events: all;
        }
      }


      & > #menu > li {
        > a > span {
          padding-right: 0.5ex;
        }
        &:hover {
          filter: brightness(115%);
        }
      }

      #hamburger {
        .slice {
          background: var(--burger-background);
          transform: none !important;
        }
        $top_height: var(--hamburger-size);
        clip-path: shape(
          from 100% 0px,
          curve to calc(100% - var(--top-left-rounding)) $top_height with 100% $top_height,
          line to calc(100% - var(--open-burger-leak-right) + var(--top-left-rounding)) calc(100% - var(--open-burger-leak-down)),
          curve to calc(100% - var(--open-burger-leak-right)) calc(100% - var(--open-burger-leak-down) + var(--top-left-rounding)) with calc(100% - var(--open-burger-leak-right)) calc(100% - var(--open-burger-leak-down)),
          line to calc(100% - var(--open-burger-leak-right)) 100%,
          line to 0 100%,
          line to 0 0,
        );
        .slice {
          z-index: 1100;
          opacity: 1;
          &:nth-child(1) {
            z-index: 1101;
          }
        }
        @include nav.closed() {
          --open-burger-leak-right: 0px;
          --open-burger-leak-down: 0px;
          --top-left-rounding: 0px;
        }
        overflow: hidden;
        @include nav.open() {
          width: calc(var(--hamburger-size) + var(--open-burger-leak-right));
          height: calc(var(--hamburger-size) + var(--open-burger-leak-down));
          & {
            width: calc(100% + var(--open-burger-leak-right) - var(--menu-margin)*2);
            padding: 0;
            margin: var(--menu-margin);
            border-radius: 2cm 0 0 0;
            @include no-mask-support {
              overflow: hidden;
              border: 0px #000 solid;
              border-radius: 2cm 0;
            }
            > .slice {
              --button-width: calc(100% - var(--open-burger-leak-right) - var(--menu-margin) * 2);
              height: 0;
              &:nth-child(2) {
                height: 100%;
              }
              margin: 0;
              top: 0;
              left: 0;
              border: none;
              border-radius: 0;
              background: var(--burger-background);
            }
            &:hover {
              > .slice {
                background: color.adjust($burger-background, $lightness: 5%);
              }
            }
            > .slice:nth-child(2) {
              &:after {
                @include lcar-close-button;
                @media (any-hover: hover) {
                  color: $burger-background;
                }
              }
              overflow: hidden;
            }
          }
        }
      }
      #menu {
        margin-top: var(--menu-margin);
        > li {
          > a {
            text-align: right;
            margin: 0;
          }
          $colors: (1: lcars.$bluey, 2: lcars.$red, 3: lcars.$lima-bean);
          @each $index, $color in $colors {
            &:nth-child(#{$index}) {
              background: $color;
            }
          }
        }
        &::after {
          content: '';
          background: lcars.$orange;
          display: block;
          margin: 0 var(--menu-margin);
          grid-area: auto / menu-start / auto / menu-end;
          height: 3cm;
          border-radius: 0 0 2cm 0;
        }
      }
    }
  }
}
