@use 'defines.scss';
@use 'nav.scss';

:root {
  --button-margin: 3px;
  --open-burger-leak-down: 1cm;
  --open-burger-leak-right: 5cm;
  --top-left-rounding: 1cm;
  --burger-background: #c9f;
  --space-main-background: light-dark(#ffffff, #000000);
  --space-body-background: light-dark(#000000, #222222);
}

@include nav.with-path-prefix("/clog", $base: body) {
  background: var(--space-body-background);
  grid-template-rows: calc(var(--hamburger-size) + var(--button-margin) * 2) auto 0px;
  grid-template-columns: 0px var(--space-padding) auto var(--space-padding);
  main {
    background: var(--space-main-background);
    border-radius: var(--top-left-rounding) var(--top-left-rounding) 0 0;
    position: relative;
    z-index: 5;
    top: 0;
    left: 0;
  }
  @include nav.open($selector: &) {
    grid-template-columns: max-content var(--space-padding) auto var(--space-padding);
  }
  nav#navigation {

    @include nav.open($selector: &) {
      background: none;
    }
    #hamburger {
      .slice {
        background: var(--burger-background);
        &:nth-child(2) {
          $top_height: var(--hamburger-size);
          transform: rotate(-180deg);
          clip-path: shape(
            from 100% 0px,
            curve to calc(100% - var(--top-left-rounding)) $top_height with 100% $top_height,
            line to calc(100% - var(--open-burger-leak-right) + var(--top-left-rounding)) calc(100% - var(--open-burger-leak-down)),
            curve to calc(100% - var(--open-burger-leak-right)) calc(100% - var(--open-burger-leak-down) + var(--top-left-rounding)) with calc(100% - var(--open-burger-leak-right)) calc(100% - var(--open-burger-leak-down)),
            line to 0 100%,
            line to 0 0,
            //line to 0 2cm,
            //curve to 2cm 0 with 0 0,
            );
          }
      }
      .slice {
        &:nth-child(1), &:nth-child(3) {
          transition: none;
        }
      }
      @include nav.open($selector: &) {
        width: 3cm;
        position: relative;
        width: calc(100% + var(--open-burger-leak-right) - var(--button-margin)*2);
        padding: 0;
        margin: var(--button-margin);
        .slice {
          position: absolute;
          background: #000;
          --button-width: calc(100% - var(--open-burger-leak-right) - var(--button-margin) * 2);
          &:nth-child(1), &:nth-child(3) {
            top: calc(100% + var(--hamburger-size));
            left: calc(100% - var(--open-burger-leak-right) - 0.5cm);
            pointer-events: none;
            padding: 0;
            height: 2px;
            margin: 0px;
            opacity: 0.2;
            width: 0.5cm;
          }
          &:nth-child(2) {
            transform: none;
            background: var(--burger-background);
            border-radius: 0;
            margin: 0;
            opacity: 1;
            border-radius: 2cm 0 0 0;
            //transform: rotate(-90deg);
            top: 0;
            left: 0;
            border: 0px solid;
            $width: calc(100% + var(--open-burger-leak-right) - var(--button-margin) * 2);
            $height: calc(var(--hamburger-size) + var(--open-burger-leak-down));
            height: $height;
            margin: 0;
            background: var(--burger-background);
            $top_height: var(--hamburger-size);
            &::after {
              content: 'Captains log';
              color: #000;
              width: 100%;
              height: 100%;
              margin-top: calc(((var(--hamburger-size)) - 1em) / 2);
              display: block;
              text-align: center;
              vertical-align: center;
            }
          }
        }
      }
    }
    #menu {
      margin-top: calc(var(--open-burger-leak-down) + var(--button-margin));
      li {
        margin: var(--button-margin);
        text-align: right;
        vertical-align: bottom;
        a {
          margin: 0;
        }
        &:nth-child(1) {
          background: #89f;
        }
        &:nth-child(2) {
          background: #cf4f4f;
        }
      }
      &::after {
        content: '';
        background: #f80;
        margin: var(--button-margin);
        display: block;
        width: calc(100% - var(--button-margin) * 2);
        height: 3cm;
        border-radius: 0 0 2cm 0;
      }
    }
  }
}
