:root {
  color-scheme: light dark;
  --hamburger-size: clamp(1em, 10vmin, 32px);
  --hamburger-padding: 0.5rem;
  --qr-size: 308px;
  --default-transition: all 0.3s ease-in-out;
  --space-padding: calc((100% - min(21cm, 100%)) / 2);
}
