body > dialog {
  box-sizing: content-box;
  border-radius: 2em;
  width: clamp(80ex, min(120ex, 80vw), 100vw);
  > form > input[type="submit"] {
    display: none;
    padding: 0 0.5ex 1ex 1ex;
    border: none;
    background: none;
    font-size: 200%;
    @media screen and (not (pointer: fine)) and (width < 90ex) {
      float: right;
      display: block;
    }
  }
  &[open] {
    @keyframes show-dialog {
      0% {
        pointer-events: none;
        filter: blur(1px);
      }
      99% {
        pointer-events: none;
        filter: blur(0px);
      }
      100% {
        pointer-events: unset;
        filter: none;
      }
    }
    a, label {
      animation-duration: 1s;
      animation-name: show-dialog;
    }
  }

  &::backdrop {
    background: #000000a0;
  }
}
