@use 'root.scss';
@use 'nav.scss';
@use 'hamburger-easter-egg.scss';

@media (prefers-reduced-motion: no-preference) {
  #menu {
    transition: 150ms all 100ms ease-out;
  }
}
:root {
  --hamburger-size: clamp(1em, 10vmin, 32px);
}

#navigation {
  z-index: 1000;
  padding: 0;
  margin: 0;
  grid-area: menu-start / menu-start / menu-end / menu-end;
  @include nav.open() {
    & {
      background: var(--menu-background);
    }
  }
  @include nav.closed() {
    & {
      pointer-events: none;
      min-height: 100vh;
      #hamburger {
        pointer-events: auto;
      }
    }
  }
}
@include nav.closed() {
  #hamburger .slice:nth-child(2) {
    transform: rotate(180deg);
  }
}
@include nav.open() {
  #hamburger .slice {
    background: #fff;
    --border-size: 2px;
    &:nth-child(1) {
      z-index: 0;
      top: calc(50% - 25%);
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      z-index: 0;
      top: calc(-50% + 25% - var(--hamburger-size) - var(--border-size) * 4 + var(--slice-height));
      transform: rotate(-45deg);
    }
    &:nth-child(2) {
      z-index: -1;
      border: var(--border-size) solid #aacb9d;
      border-radius: var(--hamburger-size);
      background-color: rgba(0, 0, 0, 0);
      top: calc(-50% - var(--border-size) - var(--slice-height) / 2);
      left: calc(0px - var(--border-size));
      transform: rotate(0deg);
      height: var(--hamburger-size);
    }
  }
}

#hamburger-toggle {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
  overflow: visible;
  cursor: pointer;
  position: absolute;
}

#hamburger {
  z-index: 1100;
  display: block;
  padding: var(--hamburger-padding);
  cursor: pointer;
  width: var(--hamburger-size);
  height: var(--hamburger-size);
  margin-bottom: calc(-var(--hamburger-size) - var(--hamburger-padding));
  .slice {
    display: block;
    background: light-dark(#000, #888);
    position: relative;
    width: 100%;
    --slice-height: 2px;
    margin-top: calc(var(--hamburger-size) / 3 - var(--slice-height));
    top: calc((33% - var(--slice-height))/-2);
    height: var(--slice-height, 2px);
    border-radius: var(--slice-height);
    opacity: 90%;
  }
}
