@use 'root.scss';
@use 'nav.scss';
@use 'hamburger-easter-egg.scss';

#navigation {
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0;
  margin: 0;
  height: 100%;
  width: fit-content;
  grid-area: menu-start / menu-start / menu-end / menu-end;
  @include nav.open(&) {
    background: #badbad;
  }
  @include nav.closed($selector: &) {
    transform-origin: top left;
    #hamburger {
      position: relative;
      left: 0;
    }
    --menu-padding: calc(var(--hamburger-size) + 2 * var(--hamburger-padding));
    #menu {
      opacity: 0.3;
    }
  }
  #menu {
    visibility: hidden;

    top: 0;
    left: 0;
    padding-left: 0;
    height: calc(100% - var(--menu-padding));
    z-index: 100;
    margin: 0;

    transform-origin: top left;
    transform: rotateY(-90deg);
    opacity: 0.3;
    transition: 150ms all 100ms ease-out;
    li {
      list-style: none;
      a {
        display: block;
        padding: 1rem;
        text-decoration: none;
      }
    }
  }
  #hamburger-toggle {
    opacity: 0;
    margin: 0;
    width: 0;
    height: 0;
    overflow: visible;
    cursor: pointer;
    position: absolute;
    &:not(:checked) {
      & ~ #hamburger .slice:nth-child(2) {
        transform: rotate(720deg);
      }
    }
    &:checked {
      & ~ #menu {
        visibility: visible;
        transform: rotateX(0deg);
        opacity: 1;
      }
      & ~ #hamburger .slice {
        background-color: #fff;
        --border-size: 2px;
        &:nth-child(1) {
          z-index: 0;
          top: calc(50% - 25%);
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          z-index: 0;
          top: calc(-50% + 25% - var(--hamburger-size) - var(--border-size) * 4 + var(--slice-height));
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          z-index: -1;
          border: var(--border-size) solid #aacb9d;
          border-radius: var(--hamburger-size);
          background-color: rgba(0, 0, 0, 0);
          top: calc(-50% - var(--border-size) - var(--slice-height) / 2);
          left: calc(0px - var(--border-size));
          transform: rotate(0deg);
          height: var(--hamburger-size);
        }
      }
    }
  }
  #hamburger {
    z-index: 1100;
    display: block;
    padding: var(--hamburger-padding);
    cursor: pointer;
    width: var(--hamburger-size);
    height: var(--hamburger-size);
    margin-bottom: calc(-var(--hamburger-size) - var(--hamburger-padding));
    box-sizing: content-box;
    .slice {
      display: block;
      position: relative;
      background: light-dark(#000, #888);
      width: 100%;
      --slice-height: 2px;
      margin-top: calc(33% - var(--slice-height));
      top: calc((33% - var(--slice-height))/-2);
      height: var(--slice-height, 2px);
      border-radius: var(--slice-height);
      opacity: 90%;
    }
  }
}
