$african-violet: #cc99ff;
$almond: #ffaa90;
$almond-creme: #ffbbaa;
$blue: #5566ff;
$bluey: #8899ff;
$butterscotch: #ff9966;
$gold: #ffaa00;
$golden-orange: #ff9900;
$gray: #666688;
$green: #999933;
$ice: #99ccff;
$lilac: #cc55ff;
$lima-bean: #cccc66;
$magenta: #cc5599;
$mars: #ff2200;
$moonlit-violet: #9966ff;
$orange: #ff8800;
$peach: #ff8866;
$red: #cc4444;
$sky: #aaaaff;
$space-white: #f5f6fa;
$sunflower: #ffcc99;
$tomato: #ff5555;
$violet-creme: #ddbbff;
