footer {
  blockquote {
    margin: 0;
    margin-bottom: 0.5em;
  }
}
blockquote {
  display: block;
  margin-left: 0;
  padding-left: calc(1em + 1ch);
  position: relative;
  &:before {
    content: "”";
    font-size: 200%;
    position: absolute;
    left: 0;
    padding-right: 0.1ch;
    color: var(--faded-font-color);
    height: 100%;
    border-right: 2px solid var(--faded-font-color);
  }
  &[cite]:not(:has(cite)) {
    &[cite^="http://"], &[cite^="https://"] {
      &:after {
        content: none;
      }
    }
    &:after {
      display: block;
      padding-top: 1ex;
      padding-left: 1ex;
      user-select: text;
      content: "- " attr(cite);
      font-size: 75%;
      font-style: revert;
    }
  }
  & > cite {
    display: block;
    &:before {
      content: "- ";
    }
  }
}
q, blockquote {
  quotes: "‘" "’" "“" "”";
  &.para {
    &:before {
      user-select: text;
      content: open-quote "[";
    }
    &:after {
      user-select: text;
      content: "]" close-quote;
    }
  }
}
q {
  font-style: oblique 3deg;
}
.para {
  &:before {
    content: "[";
  }
  &:after {
    content: "]";
  }
}
